/* HEADER */
header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    z-index: 1;
}

.HT-header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.HT-header h1 {
    margin: 0;
}

.header-logo {
    margin: 0;
    color: var(--signature-color);
    font-weight: 600;
    line-height: 50px;
    text-decoration: none;
}

.header-logo span {
    color: var(--green-color);
}

.header-nav {
    width: 430px;
}

.header-nav_list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    line-height: 50px;
    position: relative;

}

.header-nav_item {
    text-decoration: none;
    color: var(--text-color);
}

.header-nav_item:hover {
    color: var(--signature-color);
}



.header-nav_list li:hover .DB-list {
    display: block;
}

.DB-list::before {
    content: "";
    position: absolute;
    width: 100%;
    top: -14px;
    left: 0;
    bottom: 100px;
}

.DB-list {
    position: absolute;
    background-color: white;
    list-style: none;
    padding-left: 0;
    width: 90px;
    text-align: center;
    transform: translateX(-15px);
    display: none;
}

.DB-list a {
    text-decoration: none;
    color: var(--text-color);
}

.DB-list a:hover {
    color: var(--signature-color);
}

/* MAIN */
.slider-img {
    width: 100%;
    object-position: -10px -40px;
    filter: brightness(40%);
    position: relative;
}

.slider-content {
    position: absolute;
    width: 560px;
    bottom: 42%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.slider-heading {
    color: white;
    font-size: 44px;
}

.slider-heading span {
    color: var(--signature-color);
}

.slider-text {
    color: white;
    line-height: 1.6;
}

.Menu {
    background-color: var(--signature-color);
    color: white;
    width: 120px;
    height: 50px;
    padding: 0;
    border: none;
    border-radius: 4px;
}

.book {
    background-color: var(--green-color);
    color: white;
    width: 100px;
    height: 50px;
    padding: 0;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}