/* Mobile */
@media(max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    body {
        width: 868px;
    }

    .grid_row-content {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .grid_column-2_8 {
        width: 100%;
        padding: 0 20px;
    }
    /* HEADER */

    .HT-header {
        display: inline-block;
    }

    .HT-header h1 {
        float: left;
    }

    header {
        min-height: 110px;
        font-size: 30px;
        overflow: hidden;
    }

    .header-logo {
        line-height: 110px;
    }

    .header-button {
        display: block;
        width: 87px;
        height: 64px;
        background: white;
        border: 1px solid silver;
        border-radius: 6px;
        margin-top: calc((110px - 64px) / 2);
        float: right;
    }

    .header-icon {
        font-size: 50px;
        width: 85px;
        padding: 6px;
        color: var(--text-color);
    }

    .header-nav {
        display: block;
        float: left;
        width: 100%;
        width: 107%;
        transform: translateX(-19px);
    }

    .header-nav_list {
        display: flex;
        flex-direction: column;
    }

    .header-nav_list li {
        line-height: 3;
    }

    .header-nav_list li:hover {
        background-color: rgba(0,0,0,0.05);
    }

    .header-nav_item {
        margin-left: 20px;
        padding-right: 80%;
    }

    .button-page {
        width: 80px;
        height: 80px;
        bottom: 46px;
        right: 20px;
        font-size: 42px;
        line-height: 80px;
        border-radius: 10px;
    }

    /* SLIDER */
    .slider {
        width: auto;
        overflow: unset;
        margin: 110px 0 0;
        transform: none;
    }

    .s-img {
        margin-top: -71px;
    }

    .slider-img {
        display: block;
        margin-top: 110px;
        width: 560px;
        height: 1600px;
        object-fit: none;
        transform: scale(2.1);
        object-position: -336px;
        margin-right: 55px;
    }
    
    .slider-content {
        width: 789px;
        height: 280px;
        transform: none;
        left: 0;
        margin-left: calc((868px - 789px) / 2);
        top: 0;
        margin-top: calc((110px + 1600px - 280px) / 2);
    }

    .slider-heading-mobile {
        display: block;
        font-size: 48px;
    }

    .slider-text-mobile {
        display: block;
        font-size: 30px;
        margin: 40px 0 70px;
    }

    .button {
        width: 206px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }

    .button-book {
        width: 183px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
        margin-left: 36px;
    }

    /* CONTENT-1 */
    #content-1 {
        margin-top: 39px;
        width: 868px;
    }

    .main-heading-small {
        font-size: 35px;
    }

    .main-heading-big {
        width: 100%;
        font-size: 58px;
    }

    .main-text {
        width: 100%;
        font-size: 25px;
        margin: 30px 0;
    }

    .block-2 {
        padding: 50px 0;
        width: 828px;
        margin-left: 20px;
    }

    .form input {
        border-radius: 6px;
        height: 80px;
        padding-left: 20px;
        font-size: 25px;
    }

    .form input::placeholder {
        font-size: 25px;
    }

    .form .input-icon {
        transform: translate(-25px, -57px);
        font-size: 30px;
    }

    .form button {
        height: 80px;
        font-size: 25px;
    }

    /* CONTENT-2 */
    #content-2 {
        width: 868px;
        padding: 0 20px;
    }

    .intro-video {
        width: 828px;
        height: 800px;
        margin: 150px 0 50px;
    }

    .grid_column-2_6 article {
        margin: 0;
        width: 828px;
    }

    .button-content-2 {
        width: 240px;
        height: 80px;
        line-height: 80px;
        border-radius: 8px;
    }

    /* CONTENT-3 */
    #content-3 {
        padding: 100px 20px 0;
        width: 868px;
    }

    .grid_column-2_5,
    .grid_column-2_6,
    .grid_column-2_7,
    .grid_column-2_7-2,
    .grid_column-3_4,
    .grid_column-3_3,
    .grid_column-3_5 {
        width: 100%;
        padding: 0;
    }

    .left-picture {
        width: 100%;
        height: 738px;
    }

    .left-img {
        width: 100%;
        height: 90%;
    }

    .grid_column-2_5-2 {
        width: 50%;
    }

    .bottom-img {
        transform: translateY(-88px);
    }

    .content-3-text {
        font-size: 25px;
        width: 100%;
        margin: 40px 0;
    }

    .content-3-button {
        width: 100%;
        border-radius: 8px;
        height: 80px;
        line-height: 80px;
    }

    .grid_row-content.block_7 {
        margin: 80px 0 0;
    }

    .right-content_img {
        width: 150px;
    } 

    .right-content_img-mobile {
        width: 140px;
    }

    .right-content_title::before {
        width: 100px;
        height: 100px;
        transform: translate(52px, -190px);
    }

    .right-content_title {
        margin: 12px 0;
        font-size: 35px;
    }

    .right-content_text {
        width: 100%;
        font-size: 25px;
        margin-bottom: 100px;
    }

    /* CONTENT-4 */
    #content-4 {
        width: 868px;
    }

    .content-4-btn {
        margin-top: 60px;
    }

    .content-4-seafood {
        width: 160px;
        border-radius: 8px
    }

    .content-4-hotpot {
        width: 100px;
        border-radius: 8px;
        margin: 0 20px;
    }

    .content-4-drink {
        width: 200px;
        border-radius: 8px;
    }

    .menu-img {
        width: 20%;
        height: 20%;
    }

    .hao-img {
        height: 165.594px;
    }

    .hs-h-dash::after,
    .hs-c-dash::after,
    .hs-o-dash::after,
    .hs-th-dash::after,
    .hs-ts-dash::after,

    .l-kc-dash::after,
    .l-c-dash::after,
    .l-tc-dash::after,
    .l-t-dash::after,
    .l-tc-dash::after,

    .tu-bt-dash::after,
    .tu-bh-dash::after,
    .tu-s-dash::after,
    .tu-c-dash::after,
    .tu-a-dash::after {
        display: none;
    }

    .menu {
        margin: 50px 0;
    }

    .menu-content {
        width: 100%;
    }

    .menu-name-price {
        flex-direction: column;
    }

    .menu-name {
        font-size: 35px;
    }

    .menu-price,
    .menu-trans {
        font-size: 25px;
    }

    /* CONTENT-5 */
    #content-5 {
        width: 868px;
    }

    .grid_row-content.grid-contact {
        width: 828px;
        margin-left: 20px
    
    }

    .grid_column-4_3 {
        width: 100%;
    }

    .contact::before {
        width: 80px;
        height: 80px;
    }

    .contact {
        padding: 30px 0;
    }

    .contact-icon {
        font-size: 35px;
        margin-right: 50px;
        margin-left: 11px;
    }

    .contact-inf h3 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .contact-inf p,
    .contact-inf a {
        font-size: 25px;
    }

    .contact-follow-icon {
        font-size: 34px;
        margin-right: 14px;
    }

    /* FOOTER */
    footer {
        width: 868px;
    }

    .ft {
        padding: 80px 20px;
    }

    .ft-heading {
        font-size: 35px;
    }

    .ft-nav_item {
        margin: 30px 0;
        font-size: 25px;
    }

    .grid_column-3_3,
    .grid_column-3_5 {
        margin-top: 60px;
    }

    .ft-nav {
        margin-top: 40px;
    }

    .ft-fsep::after {
        width: 70px;
        transform: translate(-124px, 54px);
    }
    .ft-ssep::after {
        width: 70px;
        transform: translate(-190px, 54px);

    }
    .ft-tsep::after {
        transform: translate(-181px, 60px);
        width: 70px;
    }

    .ft-cir::before {
        width: 50px;
        height: 50px;
    }
    .ft-social {
        font-size: 25px;
        margin: 11px;
    }

    .ft-form {
        height: 80px;
    }

    .ft-button {
        width: 100px;
        height: 65px;
        font-size: 30px;
        line-height: 65px;
    }

    .ft-form input:focus,
    .ft-form input {
        font-size: 25px;
    }

    .ft-second {
        font-size: 25px;
        padding: 50px 111px;
    }


    

}